<div>
    <h2 id="page-heading">
        <span>Emploees</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-emploee" [routerLink]="['/emploee/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Emploee
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="emploees?.length === 0">
        <span>No emploees found</span>
    </div>
    <div class="table-responsive" *ngIf="emploees?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Fio</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let emploee of emploees ;trackBy: trackId">
                <td><a [routerLink]="['/emploee', emploee.id, 'view' ]">{{emploee.id}}</a></td>
                <td>{{emploee.fio}}</td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/emploee', emploee.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/emploee', emploee.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/emploee', { outlets: { popup: emploee.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
