<div class="row justify-content-center">
    <div class="col-8">
        <form name="editForm" role="form" novalidate (ngSubmit)="save()" [formGroup]="editForm">
            <h2 id="jhi-translated-text-heading">Create or edit a Translated Text</h2>
            <div>
                <jhi-alert-error></jhi-alert-error>
                <div class="form-group" [hidden]="!editForm.get('id').value">
                    <label for="id">ID</label>
                    <input type="text" class="form-control" id="id" name="id" formControlName="id"
                        readonly />
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sourceText">Source Text List</label>
                    <select class="form-control" id="field_sourceText" name="sourceText" formControlName="sourceText" [(ngModel)]="selectedTextMod">
                        <option [ngValue]="null"></option>
                        <option [ngValue]="sourceTextOption.id === editForm.get('sourceText').value?.id ? editForm.get('sourceText').value : sourceTextOption" *ngFor="let sourceTextOption of sourcetexts; trackBy: trackSourceTextById">{{sourceTextOption.title}}</option>
                    </select>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_sourcetextcontent">Source text content</label>
                    <textarea type="text" class="form-control" name="sourcetextcontent" id="field_sourcetextcontent"
                              formControlName="sourcetextcontent" readonly></textarea>
                </div>
                <div class="form-group">
                    <label class="form-control-label" for="field_language">Target language</label>
                    <select class="form-control" name="language" formControlName="language" id="field_language">
                        <option value="ENGLISH">ENGLISH</option>
                        <option value="RUSSIAN">RUSSIAN</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="form-control-label" for="field_content">Translation content</label>
                    <textarea type="text" class="form-control" name="content" id="field_content"
                              formControlName="content"></textarea>
                </div>


            </div>
            <div>
                <button type="button" id="cancel-save" class="btn btn-secondary"  (click)="previousState()">
                    <fa-icon [icon]="'ban'"></fa-icon>&nbsp;<span>Cancel</span>
                </button>
                <button type="button" id="getTranslation" [disabled]="isTranslating" class="btn btn-secondary"  (click)="getTextTranslation()">
                    <fa-icon [icon]="'cloud'"></fa-icon>&nbsp;<span>Get translation</span>
                </button>
                <button type="submit" id="save-entity" [disabled]="editForm.invalid || isSaving || isTranslating" class="btn btn-primary">
                    <fa-icon [icon]="'save'"></fa-icon>&nbsp;<span>Save</span>
                </button>
            </div>
        </form>
    </div>
</div>
