<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="translatedText">
            <h2><span>Translated Text</span> {{translatedText.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{translatedText.content}}</span>
                </dd>
                <dt><span>Language</span></dt>
                <dd>
                    <span>{{translatedText.language}}</span>
                </dd>
                <dt><span>Source Text</span></dt>
                <dd>
                    <div *ngIf="translatedText.sourceText">
                        <a [routerLink]="['/source-text', translatedText.sourceText?.id, 'view']">{{translatedText.sourceText?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/translated-text', translatedText.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
