<div>
    <h2 id="page-heading">
        <span>Translated Texts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-translated-text" [routerLink]="['/translated-text/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Translated Text
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="translatedTexts?.length === 0">
        <span>No translatedTexts found</span>
    </div>
    <div class="table-responsive" *ngIf="translatedTexts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Content</span></th>
            <th><span>Language</span></th>
            <th><span>Source Text</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let translatedText of translatedTexts ;trackBy: trackId">
                <td><a [routerLink]="['/translated-text', translatedText.id, 'view' ]">{{translatedText.id}}</a></td>
                <td>{{translatedText.content}}</td>
                <td>{{translatedText.language}}</td>
                <td>
                    <div *ngIf="translatedText.sourceText">
                        <a [routerLink]="['/source-text', translatedText.sourceText?.id, 'view' ]" >{{translatedText.sourceText?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/translated-text', translatedText.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/translated-text', translatedText.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/translated-text', { outlets: { popup: translatedText.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
