<div>
    <h2 id="page-heading">
        <span>Source Texts</span>
        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-source-text" [routerLink]="['/source-text/new']">
            <fa-icon [icon]="'plus'"></fa-icon>
            <span >
            Create a new Source Text
            </span>
        </button>
    </h2>
    <jhi-alert></jhi-alert>
    <br/>
    <div class="alert alert-warning" *ngIf="sourceTexts?.length === 0">
        <span>No sourceTexts found</span>
    </div>
    <div class="table-responsive" *ngIf="sourceTexts?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
            <tr>
            <th><span>ID</span></th>
            <th><span>Title</span></th>
            <th><span>Content</span></th>
            <th><span>Client</span></th>
            <th><span>Emploee</span></th>
            <th></th>
            </tr>
            </thead>
            <tbody>
            <tr *ngFor="let sourceText of sourceTexts ;trackBy: trackId">
                <td><a [routerLink]="['/source-text', sourceText.id, 'view' ]">{{sourceText.id}}</a></td>
                <td>{{sourceText.title}}</td>
                <td>{{sourceText.content}}</td>
                <td>
                    <div *ngIf="sourceText.client">
                        <a [routerLink]="['/client', sourceText.client?.id, 'view' ]" >{{sourceText.client?.id}}</a>
                    </div>
                </td>
                <td>
                    <div *ngIf="sourceText.emploee">
                        <a [routerLink]="['/emploee', sourceText.emploee?.id, 'view' ]" >{{sourceText.emploee?.id}}</a>
                    </div>
                </td>
                <td class="text-right">
                    <div class="btn-group">
                        <button type="submit"
                                [routerLink]="['/source-text', sourceText.id, 'view' ]"
                                class="btn btn-info btn-sm">
                            <fa-icon [icon]="'eye'"></fa-icon>
                            <span class="d-none d-md-inline">View</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/source-text', sourceText.id, 'edit']"
                                class="btn btn-primary btn-sm">
                            <fa-icon [icon]="'pencil-alt'"></fa-icon>
                            <span class="d-none d-md-inline">Edit</span>
                        </button>
                        <button type="submit"
                                [routerLink]="['/source-text', { outlets: { popup: sourceText.id + '/delete'} }]"
                                replaceUrl="true"
                                queryParamsHandling="merge"
                                class="btn btn-danger btn-sm">
                            <fa-icon [icon]="'times'"></fa-icon>
                            <span class="d-none d-md-inline">Delete</span>
                        </button>
                    </div>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
