<div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="sourceText">
            <h2><span>Source Text</span> {{sourceText.id}}</h2>
            <hr>
            <jhi-alert-error></jhi-alert-error>
            <dl class="row-md jh-entity-details">
                <dt><span>Title</span></dt>
                <dd>
                    <span>{{sourceText.title}}</span>
                </dd>
                <dt><span>Content</span></dt>
                <dd>
                    <span>{{sourceText.content}}</span>
                </dd>
                <dt><span>Client</span></dt>
                <dd>
                    <div *ngIf="sourceText.client">
                        <a [routerLink]="['/client', sourceText.client?.id, 'view']">{{sourceText.client?.id}}</a>
                    </div>
                </dd>
                <dt><span>Emploee</span></dt>
                <dd>
                    <div *ngIf="sourceText.emploee">
                        <a [routerLink]="['/emploee', sourceText.emploee?.id, 'view']">{{sourceText.emploee?.id}}</a>
                    </div>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon [icon]="'arrow-left'"></fa-icon>&nbsp;<span> Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/source-text', sourceText.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon [icon]="'pencil-alt'"></fa-icon>&nbsp;<span> Edit</span>
            </button>
        </div>
    </div>
</div>
